*{
    margin: 0;
    padding: 0;
}
h1{
    color: white;
    font-size: 52px;
    font-weight: bold;
}
.header{
    background-color: black;
    padding: 10px;
    text-align: center;
}
h2{
    color: red;
    width: 400px;
    margin: auto;
    font-size: 32px;
}
#main{
    /* background:url(../static/car.png); */
    background-size: 100% 100%;
    /* min-height: 800px; */
    /* background-size: cover; */
    margin-top: 0;
}
#select_option{
    text-align: center;
    margin: 10px 0;
}
#output{
    display: none;
}
#output h2{
    min-width: 520px;
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 10px;
}
footer{
    background-color: black;
    color: white;
    min-height: 100px;
    margin-top: 100px;
}
footer div{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
footer div span{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin: 0 10px;
}
footer div span p{
    margin-bottom: 5px;
}
#graph_div{
    width: 80%;
    margin: 20px auto;
}
@media screen and (max-width: 700px) {
    form{
        width: 480px;
        margin: 10px auto;
    }
    h1{
        font-size: 36px;
    }
    #main{
        /* background-size: 900px 650px; */
        min-height: 650px;
    }
    #output h2{
        font-size: 26px;
        min-width: 420px;
    }
    #graph_div{
        width: 95%;
        margin: 10px auto;
    }
}
@media screen and (max-width: 500px) {
    form{
        width: 320px;
        margin: 8px auto;
    }
    h1{
        font-size: 28px;
    }
    #main{
        /* background-size: 700px 500px; */
        min-height: 500px;
    }
    #output h2{
        font-size: 20px;
        min-width: 250px;
        max-width: 330px;
    }
    #graph_div{
        width: 93%;
        margin: 8px auto;
    }
    input,select{
        font-size: 15px;
        margin: 5px;
        padding: 3px;
    }
}